<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>StudySphere uses the camera to take your profile photo.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_SSRoomHost._tcp</string>
		<string>_SSRoomHost._udp</string>
		<string>_SSRoomParty._tcp</string>
		<string>_SSRoomParty._udp</string>
	</array>
</dict>
</plist>
